
a{
    text-decoration: none;
    color: white;
}

.button {
    /* display: inline-flex; */
    /* border: solid 1px red; */
    background-color: #303030;
    margin: 20px;
    padding: 5px 40px 5px 40px;
    font-size: 24px;
    color: white;
    /* width: 20px; */
}

button:hover {
    background-color: #707070;
    border-color: #707070;
}